#Navbar{
    background: url(../images/bg_nav.png)   repeat-x;
    background-size: 9px;
}
.in{
    background: #e7e7e7;
}
.navbar {
    border:0;
}
.navbar-brand{
    float:none;
    display: block;
    margin:4px 0  !important;
    padding: 0;
    position: absolute;
    z-index: 1300;
}

.navbar-nav > li {
    margin: 0 10px;
}
.navbar-nav > li > a {
    padding-top: 22px;
}
.nav li a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
.nav li.active a{
    border-bottom: 3px solid #ab181d;
    background: none;
}
@media(max-width: 734px){
    .navbar-brand{
        margin:4px 0 0 96px !important;
    }
    body{
        background-position: top;
    }
    #blocos{
        display: none;
    }
    .nav li.active a,
    .nav li a,
    .dropdown-menu li.active a,
    .dropdown-menu li a{
        border-bottom:1px solid #ccc;
    }
    .nav li:last-child a{
        border-bottom:0 none;
    }
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background: 0 none !important;
    box-shadow:none !important;
}
.navbar-toggle{
    margin-top: 23px;
}
@media (max-width: 765px) {
    .div1, .div2, .div3{
        background-size: cover ;
    }

}

/** carregando enviar contato */
#facebookG{
    width:128px;
    display: none;
    position: absolute;
    left:50%;
}

.facebook_blockG{
    background-color:#585659;
    border:3px solid #282929;
    float:left;
    height:91px;
    margin-left:7px;
    width:24px;
    opacity:0.1;
    -moz-animation-name:bounceG;
    -moz-animation-duration:1.3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -moz-transform:scale(0.7);
    -webkit-animation-name:bounceG;
    -webkit-animation-duration:1.3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -webkit-transform:scale(0.7);
    -ms-animation-name:bounceG;
    -ms-animation-duration:1.3s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -ms-transform:scale(0.7);
    -o-animation-name:bounceG;
    -o-animation-duration:1.3s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    -o-transform:scale(0.7);
    animation-name:bounceG;
    animation-duration:1.3s;
    animation-iteration-count:infinite;
    animation-direction:linear;
    transform:scale(0.7);
}

#blockG_1{
    -moz-animation-delay:0.39s;
    -webkit-animation-delay:0.39s;
    -ms-animation-delay:0.39s;
    -o-animation-delay:0.39s;
    animation-delay:0.39s;
}

#blockG_2{
    -moz-animation-delay:0.52s;
    -webkit-animation-delay:0.52s;
    -ms-animation-delay:0.52s;
    -o-animation-delay:0.52s;
    animation-delay:0.52s;
}

#blockG_3{
    -moz-animation-delay:0.65s;
    -webkit-animation-delay:0.65s;
    -ms-animation-delay:0.65s;
    -o-animation-delay:0.65s;
    animation-delay:0.65s;
}

@-moz-keyframes bounceG{
    0%{
        -moz-transform:scale(1.2);
        opacity:1}

    100%{
        -moz-transform:scale(0.7);
        opacity:0.1}

}

@-webkit-keyframes bounceG{
    0%{
        -webkit-transform:scale(1.2);
        opacity:1}

    100%{
        -webkit-transform:scale(0.7);
        opacity:0.1}

}

@-ms-keyframes bounceG{
    0%{
        -ms-transform:scale(1.2);
        opacity:1}

    100%{
        -ms-transform:scale(0.7);
        opacity:0.1}

}

@-o-keyframes bounceG{
    0%{
        -o-transform:scale(1.2);
        opacity:1}

    100%{
        -o-transform:scale(0.7);
        opacity:0.1}

}

@keyframes bounceG{
    0%{
        transform:scale(1.2);
        opacity:1}

    100%{
        transform:scale(0.7);
        opacity:0.1}

}
/** fim carregando... */