html{
    position: relative;
}

h2{
    background: rgba(0,0,0,0.6);
    margin:6px 0 10px !important;
}

body{
    text-align: justify;
    background-image:url('../images/bg.jpg');
    background-color:#000;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}
body > .container-fluid,
body > #project{
    padding: 0 !important;
    margin-top: 40px;
}
.container{
    padding:0;
}
.carousel-control.right{
    right: 5px;
}

.content{
    padding:10px 0px 0;
    margin: 40px 0;
    height: 100%;
    font-family: FontAwesome, 'Open Sans', sans-serif;
}
.content > h2,
.content > p {
    padding: 10px 20px;
    margin:6px 0;
}

.content > p {
    font-size: 18px;
}

.right{
    text-align: right;
}
.left{
    text-align: left;
}

#blocos{
  background: url(../images/blocos.png) no-repeat;
  height: 133px;
  background-size: 130px;
  position: fixed;
  z-index: 1040;
  width: 190px;
  top: 0;
  left: 0;
}

footer{
    background-color: rgba(0,0,0,0.9);
    padding: 10px;
    text-align: center;
    z-index: 1920;
    width: 100%;
    position:fixed;
    bottom:0;
}

footer div{
    color:#fff;
}

#abreContato{
    float: right;
    height: 40px;
    cursor: pointer;
    margin: -10px 2% -60px 0;
}

#fechaContato {
	text-decoration:none; 
	cursor: pointer;
}

#fechaContato a{
	color:#428bca;
}

#fechaContato a:hover{
	color:#3071a9;
}

#contato{
    display: none;
}
#contato label{
    color:#fff;
}
#contato .content{
    margin:0;
}
#contato h2{
    color:#fff;
    padding-left: 94px;
    padding-bottom: 20px;
}
#backgroundContato{
    background-color: rgba(0,0,0,0.8);
    position:absolute;
    bottom:40px;
    width:100%;
    left:0;
}

/*WALL-E ROBOCUP */
@media (min-width: 1200px){
  .container, .content {
    width: 970px !important;
  }
}

@media (min-width: 768px) {
  .container, .content  {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container, .content  {
    width: 970px;
  }
}
#project{
    min-height: 100%;
}
#project .item{
    height: 100% !important;
}
.modal.in{
    background: none;
}
.gallery{
    padding:10px;
}
.gallery a img{
    width: 100%;
}
.gallery.row{
    margin:0px !important;
}

#gallery-modal .btn-close{
    color:#c9302c;
}

.projectDiv{
    margin:27px 0 !important;
    padding: 10px;
}
.project-nav{
    float:left;
    margin-left:200px;

}
.project-nav li{
    background: #f9f9f9;
    border-bottom: #888 2px solid;
    margin: 0 5px ;
}
.project-nav a {
    font-size: 10px !important;
}


/* Works */

.portfolio{
    width: 33.333333%;
    position: relative;
    float: left;
}

.portfolio h2{
    position: absolute;
    background: #000;
    color: #fff;
    padding:5px;
    font-size: 1.5em;
    bottom: 40px;
}

.portfolio img{
    max-width: 100%;
    max-height: 100%;
}

.BWFilter,  .BWfade{
    left:0 !important;
}

@media (max-width: 767px){
    .portfolio{
        clear:both;
        width:100%;
    }
    .portfolio img{
        width:100%;
    }
}


/* Team */

.color4, .slice.color4, .bulle.color4, .ctaBox.color4 {
    background-color: #08051A !important;
    color: #fff;
}
.boxContent {
    padding: 10px;
    background:#fff;
}
.boxContent a:link, .boxContent a:visited {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
ul.socialNetwork {
    padding: 0;
    display: block;
}
.mt15 {
    margin-top: 1.5em;
}

ul.socialNetwork li {
    display: inline-block;
    list-style-type: none;
}
.boxNomeTeam{
    height: 50px;
    padding: 1px 10px 0px 10px;
}
#team .row{
    margin:0;
}

@media (max-width: 767px){
    #team img{
        clear:both;
        width:100%;
    }
    #team div{
        margin-left:0;
        margin-right:0;
    }
    #team .boxSocial{
        margin-bottom:1.5em;
    }
    #walle-end{ display: none; }
}

.wall_e_robocup .btn-group-vertical{
    z-index: 1;
    position: fixed;
    top: 100px;
    margin-left: -50px;
}

.social-icon{
	margin-right: 4px;
    width:35px;
    height:35px;
    display: inline-block;
}
.icon-facebook{   background: url("../images/social/social_fb.png") no-repeat; }
.icon-linkedin{   background: url("../images/social/social_linkedin.png") no-repeat; }
.icon-gplus{   background: url("../images/social/social_gplus.png") no-repeat; }
.icon-blog{   background: url("../images/social/social_blog.png") no-repeat; }
.icon-twt{   background: url("../images/social/social_twt.png") no-repeat; }
.icon-gh{   background: url("../images/social/social_github.png") no-repeat ; }

.bs-example-modal-sm .modal-content{
    padding:10px;
    color:#222;
}

#breadcrumbs{
    text-align: right;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    font-size: 18px;
    width: 100%;
    color: #fff;
}
#overflow-y {
    height: 100%;
    overflow-y:hidden;
}
#box-fly{
    z-index: 0;
}
#walle-end{
    background-image: url('../images/parallax/walle_fim.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 283px;
    width: 300px;
    left:-3%;
    z-index: -1;
}
#walle-fly{
    background-image: url('../images/parallax/wall_caindo1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 235px;
    width: 260px;    
    z-index: -1;
}
