body > .container-fluid{
    padding: 0 !important;
}
html{
    position: relative;
}

.text {
    color: #fff;
    font-size: 40px;
    text-shadow: 2px 2px 0 #000;
    background-color: rgba(0,0,0,0.8);
    padding: 20px;
    line-height: 1.5;
}

.parallax{
    width: 100%;
    height: 100%;
    position: relative;
}

.div1 {
    background: url(../images/background1.jpg) fixed;
}
.div2 {
    background: url(../images/background2.jpg) fixed;
}
.div3 {
    background: url(../images/background3.jpg) fixed;
}
.div1, .div2, .div3{
    background-size: 100% auto;
}
@media(width: 500px) {

}
.alguma_coisa{
    padding:20px;
}

footer{
    background: #080808;
    padding: 20px;
    text-align: center;
    position: fixed;
    z-index: 1920;
    bottom: 0;
    width: 100%;
}
footer div{
    color:#fff;
}
