html{
    position: relative
}

body{
    text-align: justify;
    background-image:url('../images/bg.jpg');
    background-color:#000;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}
body > .container-fluid,
body > #project{
    padding: 0 !important;
    margin-top: 40px;
}
.container{
    padding:0;
}
.carousel-control.right{
    right: 5px;
}
#Navbar{
  background: url(../images/bg_nav.png)   repeat-x;
  background-size: 9px;
}
.in{
    background: #e7e7e7;
}
.navbar {
  border:0;
}
.navbar-brand{
  float:none;
  display: block;
  margin:4px 0  !important;
  padding: 0;
  position: absolute;
  z-index: 1300;
}

.navbar-nav > li {
  margin: 0 10px;
}
.navbar-nav > li > a {
  padding-top: 22px;
}
.nav li a {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
}
.nav li.active a{
  border-bottom: 3px solid #ab181d;
  background: none;
}
@media(max-width: 734px){
    .navbar-brand{
        margin:4px 0 0 96px !important;
    }
    body{
        background-position: top;
    }
      #blocos{
        display: none;
      }
    .nav li.active a,
    .nav li a,
    .dropdown-menu li.active a,
    .dropdown-menu li a{
        border-bottom:1px solid #ccc;
    }
    .nav li:last-child a{
        border-bottom:0 none;
    }
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  background: 0 none !important;
  box-shadow:none !important;
}
.navbar-toggle{
  margin-top: 23px;
}
@media (max-width: 765px) {
    .div1, .div2, .div3{
    background-size: cover ;
    }

}

.content{
    padding:10px 0px 0;
    margin: 40px 0;
    height: 100%;
}
.content > h2,
.content > p {
    padding: 0 20px;
    margin:10px 0 15px;
}
/*CAROUSEL*/
.carousel-caption {
  z-index: 10;
  text-shadow:none;
  padding-top:0px;
  text-align: justify;
  position: initial !important;
}

.carousel-caption span{
    font-size:20px;
}

.carousel .item ul{
    margin:0;
    height: 30px;
    padding:0;
}
.carousel .item ul.network li{
    float:left;
    list-style: none;   
    margin-right: 10px;
}
.carousel .item ul li a{
    color:#fff;
}
.carousel .item ul li a:hover{
    color:#ff0;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}

.carousel-indicators{
    bottom: -3px;
}
.carousel-control{
    width: 10%;
    top:40%;
}
@media (min-width: 768px) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    font-size: 16px;
  }

}
#blocos{
  background: url(../images/blocos.png) no-repeat;
  height: 133px;
  background-size: 130px;
  position: fixed;
  z-index: 1040;
  width: 190px;
  top: 0;
  left: 0;
}

a.carousel-control.left,
a.carousel-control.right,
a.carousel-control:hover{
    background: none;
}

footer{
    background: #000;
    padding: 20px;
    text-align: center;
    z-index: 1920;
    width: 100%;
    position:fixed;
    bottom:0;
}

footer div{
    color:#fff;
}

/*WALL-E ROBOCUP */
@media (min-width: 1200px){
  .container {
    width: 970px !important;
  }
}
#project{
    min-height: 100%;
}
#project .item{
    height: 100% !important;
}
.modal.in{
    background: none;
}
.gallery{
    padding:10px;
}
.gallery a img{
    width: 100%;
}
.gallery.row{
    margin:0px !important;
}

#gallery-modal .btn-close{
    color:#c9302c;
}

#abreContato{
    position:absolute;
    bottom: 0px;
    right: 5%;
}
@media (min-width: 768px) {
    #abreContato{
        right: 5%;
    }
}
@media (min-width: 850px) {
    #abreContato{
        right: 10%;
    }
}
@media (min-width: 1200px) {
    #abreContato{
        right: 15%;
    }
}
@media (min-width: 1330px) {
    #abreContato{
        right: 20%;
    }
}
#abreContato img{
    height: 60px;
}
#contato{
    display: none;
}
#contato label{
    color:#000;
}
#contato .content{
    margin:0;
}
#contato h2{
    color:#ab181d;
    padding-left: 94px;
    padding-bottom: 20px;
}
#backgroundContato{
    background:url('../images/old_moon.png');
    position:absolute;
    bottom:60px;
    width:100%;
    left:0;
}
.projectDiv{
    margin:27px 0 !important;
    padding: 10px;
}
.project-nav{
    float:left;
    margin-left:200px;

}
.project-nav li{
    background: #f9f9f9;
    border-bottom: #888 2px solid;
    margin: 0 5px ;
}
.project-nav a {
    font-size: 10px !important;
}


/* Works */

.portfolio{
    width: 33.333333%;
    position: relative;
    float: left;
}

.portfolio h2{
    position: absolute;
    background: #000;
    color: #fff;
    padding:5px;
    font-size: 1.5em;
    bottom: 40px;
}

.portfolio img{
    max-width: 100%;
    max-height: 100%;
}

.BWFilter,  .BWfade{
    left:0 !important;
}

@media (max-width: 767px){
    .portfolio{
        clear:both;
        width:100%;
    }
    .portfolio img{
        width:100%;
    }
}


/* Team */

.color4, .slice.color4, .bulle.color4, .ctaBox.color4 {
    background-color: #4FAFC2 !important;
    color: #fff;
}
.boxContent {
    padding: 22px;
    background:#fff;
}
.boxContent a:link, .boxContent a:visited {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
ul.socialNetwork {
    padding: 0;
    display: block;
}
.mt15 {
    margin-top: 1.5em;
}

ul.socialNetwork li {
    display: inline-block;
    list-style-type: none;
}
.iconRounded {
    border: 2px solid #4FAFC2;
    color: #4FAFC2;
    background-color: #fff;
}

.iconRounded {
    border-radius: 50%;
    width: 39px;
    height: 40px;
    display: block;
    text-align: center;
    padding-top: 11px;
}
.boxNomeTeam{ 
    height:146px;
}
#team .row{
    margin:0;
}

@media (max-width: 767px){
    #team img{
        clear:both;
        width:100%;
    }
    #team div{
        margin-left:0;
        margin-right:0;
    }
    #team .boxSocial{
        margin-bottom:1.5em;
    }
}

.wall_e_robocup .btn-group-vertical{
    z-index: 1;
    position: fixed;
    top: 100px;
    margin-left: -50px;
}

.social-icon{
    width:35px;
    height:35px;
    background-repeat: no-repeat;
    display: inline-block;
}
.icon-facebook{   background: url("../images/social/social_fb.png"); }
.icon-linkedin{   background: url("../images/social/social_linkedin.png"); }
.icon-gplus{   background: url("../images/social/social_gplus.png"); }
.icon-blog{   background: url("../images/social/social_blog.png"); }
.icon-twt{   background: url("../images/social/social_twt.png"); }

.bs-example-modal-sm .modal-content{
    padding:10px;
    color:#222;
}

#facebookG{
width:128px;
display: none;
}

.facebook_blockG{
background-color:#585659;
border:3px solid #282929;
float:left;
height:91px;
margin-left:7px;
width:24px;
opacity:0.1;
-moz-animation-name:bounceG;
-moz-animation-duration:1.3s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-moz-transform:scale(0.7);
-webkit-animation-name:bounceG;
-webkit-animation-duration:1.3s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-webkit-transform:scale(0.7);
-ms-animation-name:bounceG;
-ms-animation-duration:1.3s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-ms-transform:scale(0.7);
-o-animation-name:bounceG;
-o-animation-duration:1.3s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
-o-transform:scale(0.7);
animation-name:bounceG;
animation-duration:1.3s;
animation-iteration-count:infinite;
animation-direction:linear;
transform:scale(0.7);
}

#blockG_1{
-moz-animation-delay:0.39s;
-webkit-animation-delay:0.39s;
-ms-animation-delay:0.39s;
-o-animation-delay:0.39s;
animation-delay:0.39s;
}

#blockG_2{
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#blockG_3{
-moz-animation-delay:0.65s;
-webkit-animation-delay:0.65s;
-ms-animation-delay:0.65s;
-o-animation-delay:0.65s;
animation-delay:0.65s;
}

@-moz-keyframes bounceG{
0%{
-moz-transform:scale(1.2);
opacity:1}

100%{
-moz-transform:scale(0.7);
opacity:0.1}

}

@-webkit-keyframes bounceG{
0%{
-webkit-transform:scale(1.2);
opacity:1}

100%{
-webkit-transform:scale(0.7);
opacity:0.1}

}

@-ms-keyframes bounceG{
0%{
-ms-transform:scale(1.2);
opacity:1}

100%{
-ms-transform:scale(0.7);
opacity:0.1}

}

@-o-keyframes bounceG{
0%{
-o-transform:scale(1.2);
opacity:1}

100%{
-o-transform:scale(0.7);
opacity:0.1}

}

@keyframes bounceG{
0%{
transform:scale(1.2);
opacity:1}

100%{
transform:scale(0.7);
opacity:0.1}

}

#breadcrumbs{
    text-align: right;
    position: absolute;
    z-index: 1;
    margin-top: 10px;
    font-size: 18px;
    width: 100%;
    color: #fff;
}
#box-fly{
    z-index: 0;
}
#walle-end{
    background-image: url('../images/parallax/walle_fim.png');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 235px;
    width: 260px;
    left:-3%;
}
#overflow-y {
    height: 100%;
    overflow-y:scroll; 
}
